In [1]:
from langchain.llms import GooglePalm
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
api_key = os.getenv("GOOGLE_API_KEY")
llm = GooglePalm(google_api=api_key)
answer = llm("Write about football briefly")
print(answer)

c:\Users\User\Desktop\Main-NLP-PROJECTS\Langchain_finance\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Football is a team sport played with a spherical ball between two teams of eleven players on a rectangular field with a goal at each end. The object of the game is to score by getting the ball into the opposing goal.

The game is played in 45-minute halves with a 15-minute break in between. Each team has one goalkeeper who is the only player allowed to touch the ball with their hands inside the penalty area. The other 10 players are called outfield players.

Outfield players can use any part of their body to touch the ball except their hands and arms. The most common way to score is by kicking the ball into the goal, but players can also score by heading the ball or by deflecting it in with their body.

Football is a popular sport all over the world and is played by millions of people every day.

Database object and connection

In [3]:
os.chdir("../")

In [35]:
!cd C:\Users\User\Desktop\Main-NLP-PROJECTS\Langchain_finance\Finance-Research-Langchain\src

In [4]:
!cd

c:\Users\User\Desktop\Main-NLP-PROJECTS\Langchain_finance\Finance-Research-Langchain

In [ ]:
import sys
sys.path.append("../src/llm_connect")

In [23]:
from langchain.utilities import SQLDatabase
from src.llm_connect.constants.constant import CONFIG_FILE_PATH
from src.llm_connect.utils.utils import read_yaml
db_config = read_yaml(CONFIG_FILE_PATH).Database

In [25]:

connection_string = f"postgresql://{db_config.user}:{db_config.password}@{db_config.host}/{db_config.name}"

db = SQLDatabase.from_uri(
    connection_string,
sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE dsicount_od (
	discount_id BIGSERIAL NOT NULL,
	pc_discount INTEGER,
	t_shirt_id BIGINT,
	CONSTRAINT dsicount_od_pkey PRIMARY KEY (discount_id),
	CONSTRAINT dsicount_od_t_shirt_id_fkey FOREIGN KEY(t_shirt_id) REFERENCES t_shirt (t_shirt_id),
	CONSTRAINT dsicount_od_t_shirt_id_key UNIQUE (t_shirt_id)
)

/*
3 rows from dsicount_od table:
discount_id	pc_discount	t_shirt_id
1	14	1
2	5	2
3	27	3
*/


CREATE TABLE t_shirt (
	t_shirt_id BIGSERIAL NOT NULL,
	brand VARCHAR(50),
	color VARCHAR(50),
	size_ INTEGER,
	price INTEGER,
	stock_quantity INTEGER,
	CONSTRAINT t_shirt_pkey PRIMARY KEY (t_shirt_id)
)

/*
3 rows from t_shirt table:
t_shirt_id	brand	color	size_	price	stock_quantity
1	Chelsae	Indigo	6	256	68
2	Kelsi	Red	5	592	15
3	Veronique	Aquamarine	1	470	62
*/

### SQL Database chain

In [27]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)
qnsl = db_chain("How many red colour t-shirts do we have left")

> Entering new SQLDatabaseChain chain...
How many red colour t-shirts do we have left
SQLQuery:SELECT stock_quantity FROM t_shirt WHERE color = 'Red'
SQLResult: [(15,), (88,), (85,), (95,), (90,), (72,), (59,), (43,), (75,), (37,), (21,), (15,), (38,), (50,), (62,), (99,), (31,), (25,), (80,), (16,), (96,), (20,), (72,), (63,), (72,), (49,), (60,), (77,), (71,), (10,), (33,), (100,), (29,), (98,), (93,), (98,), (98,), (21,), (96,), (98,), (18,), (79,), (40,), (94,), (1,)]
Answer:15
> Finished chain.

In [28]:
qnsl

{'query': 'How many red colour t-shirts do we have left', 'result': '15'}

In [30]:
qnsl = db_chain("How what is the total inventory for tshirt size of 2")

> Entering new SQLDatabaseChain chain...
How what is the total inventory for tshirt size of 2
SQLQuery:SELECT SUM(stock_quantity) FROM t_shirt WHERE size_ = 2
SQLResult: [(8422,)]
Answer:8422
> Finished chain.